.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headerItems {
    display: flex;
    padding: 0;
}
.headerItem {
    padding: 0;
    cursor: pointer;
}
.my-tabac-icon {
    cursor: pointer;
}
.logo {
    cursor: pointer;
    margin: 0;
}
/* .header {
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
} */